.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  border: 1px solid $color-white;
  border-radius: 5px;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}
