$mobile-max-width: 767px;
$tablet-max-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$accent-main-color: #0ad9c6;
$hover-main-color: #259f90;
$dark-title-color: #1f1f1f;
$font-black-color: #000000;
$font-mobile-menu: #48494d;
$background-mobile-menu-item: #f6f6f6;
$font-white: #ffffff;
$font-placeholder-color: #1c1c1c;
