$mobile-max-width: 767px;
$tablet-max-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-white: #ffffff;
$color-dark-blue: #1b2d37;
$color-light-blue: #00b2ff;
$color-grey: #666666;
$color-border-box: #ebebeb;
$background-footer-color: #fafafa;
$border-footer-color: #dcdddc;
